<!-- item_list.html -->
<div class="container">
    <h2 class="text-center mb-5">Item List</h2>
    <div class="row">
        {% for item in items %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <p class="card-text">{{ item.description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <form method="post" action="{% url 'main:add_item' item.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success">Tambah</button>
                            </form>
                            <form method="post" action="{% url 'main:reduce_item' item.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-warning">Kurang</button>
                            </form>
                            <form method="post" action="{% url 'main:delete_item' item.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Hapus</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <h2 class="mt-5">Create New Item</h2>
    <div class="card">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ item_form.as_p }}
                <button type="submit" class="btn btn-primary mt-3">Create Item</button>
            </form>
        </div>
    </div>
</div>